@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">daft buttons</h1>

    <button class="btn sound" id="workIt">Work It</button>
    <audio id="workItSound" src="@Url.Content("~/audio/workIt.mp3")" preload="auto"></audio>

    <button class="btn sound" id="makeIt">Make It</button>
    <audio id="makeItSound" src="@Url.Content("~/audio/makeIt.mp3")" preload="auto"></audio>

    <button class="btn sound" id="doIt">Do It</button>
    <audio id="doItSound" src="@Url.Content("~/audio/doIt.mp3")" preload="auto"></audio>

    <button class="btn sound" id="makesUs">Makes Us</button>
    <audio id="makesUsSound" src="@Url.Content("~/audio/makesUs.mp3")" preload="auto"></audio>

    <button class="btn sound" id="harder">Harder</button>
    <audio id="harderSound" src="@Url.Content("~/audio/harder.mp3")" preload="auto"></audio>

    <button class="btn sound" id="better">Better</button>
    <audio id="betterSound" src="@Url.Content("~/audio/better.mp3")" preload="auto"></audio>

    <button class="btn sound" id="faster">Faster</button>
    <audio id="fasterSound" src="@Url.Content("~/audio/faster.mp3")" preload="auto"></audio>

    <button class="btn sound" id="stronger">Stronger</button>
    <audio id="strongerSound" src="@Url.Content("~/audio/stronger.mp3")" preload="auto"></audio>

    <button class="btn sound" id="moreThan">More Than</button>
    <audio id="moreThanSound" src="@Url.Content("~/audio/moreThan.mp3")" preload="auto"></audio>

    <button class="btn sound" id="power">Power</button>
    <audio id="powerSound" src="@Url.Content("~/audio/power.mp3")" preload="auto"></audio>

    <button class="btn sound" id="our">Our</button>
    <audio id="ourSound" src="@Url.Content("~/audio/our.mp3")" preload="auto"></audio>

    <button class="btn sound" id="never">Never</button>
    <audio id="neverSound" src="@Url.Content("~/audio/never.mp3")" preload="auto"></audio>

    <button class="btn sound" id="ever">Ever</button>
    <audio id="everSound" src="@Url.Content("~/audio/ever.mp3")" preload="auto"></audio>

    <button class="btn sound" id="after">After</button>
    <audio id="afterSound" src="@Url.Content("~/audio/after.mp3")" preload="auto"></audio>

    <button class="btn sound" id="workIs">Work Is</button>
    <audio id="workIsSound" src="@Url.Content("~/audio/workIs.mp3")" preload="auto"></audio>

    <button class="btn sound" id="over">Over</button> 
    <audio id="overSound" src="@Url.Content("~/audio/over.mp3")" preload="auto"></audio>

</div>
